{% extends "base.html" %}


{% block extra_style %} 
<!-- Ajouter un fichier css ici -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/race.css') }}">
{% endblock %}
{% block extra_script %} 
<!-- <script src= "{{ url_for('static',filename='js/race.js') }}"></script> -->
<meta charset="utf-8">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src= "{{ url_for('static',filename='js/race.js') }}"></script>
{% endblock %}

{% block content %}
<div class="dropdown">
  <button class="dropbtn">Select statistic to display</button>
  <div class="dropdown-content">
    <a onclick="draw('total_cases')">Confirmed cases (total)</a>
    <a onclick="draw('total_deaths')">Deaths (total)</a>
    <a onclick="draw('people_fully_vaccinated')">Fully vaccinated people</a>
    <a onclick="draw('people_vaccinated')" >Vaccinated (at least one dose)</a>
  </div> 
</div>
<!-- Ajouter le contenu à afficher -->
<script src= "{{ url_for('static',filename='js/race.js') }}"></script>


{% endblock %}
