.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}


.temperature-0{fill: #0500ff}
.temperature-1{fill: #0400ff}
.temperature-2{fill: #0300ff}
.temperature-3{fill: #0200ff}
.temperature-4{fill: #0100ff}
.temperature-5{fill: #0000ff}
.temperature-6{fill: #0002ff}
.temperature-7{fill: #0012ff}
.temperature-8{fill: #0022ff}
.temperature-9{fill: #0032ff}
.temperature-10{fill: #0044ff}
.temperature-11{fill: #0054ff}
.temperature-12{fill: #0064ff}
.temperature-13{fill: #0074ff}
.temperature-14{fill: #0084ff}
.temperature-15{fill: #0094ff}
.temperature-16{fill: #00a4ff}
.temperature-17{fill: #00b4ff}
.temperature-18{fill: #00c4ff}
.temperature-19{fill: #00d4ff}
.temperature-20{fill: #00e4ff}
.temperature-21{fill: #00fff4}
.temperature-22{fill: #00ffd0}
.temperature-23{fill: #00ffa8}
.temperature-24{fill: #00ff83}
.temperature-25{fill: #00ff5c}
.temperature-26{fill: #00ff36}
.temperature-27{fill: #00ff10}
.temperature-28{fill: #17ff00}
.temperature-29{fill: #3eff00}
.temperature-30{fill: #65ff00}
.temperature-31{fill: #8aff00}
.temperature-32{fill: #b0ff00}
.temperature-33{fill: #d7ff00}
.temperature-34{fill: #fdff00}
.temperature-35{fill: #FFfa00}
.temperature-36{fill: #FFf000}
.temperature-37{fill: #FFe600}
.temperature-38{fill: #FFdc00}
.temperature-39{fill: #FFd200}
.temperature-40{fill: #FFc800}
.temperature-41{fill: #FFbe00}
.temperature-42{fill: #FFb400}
.temperature-43{fill: #FFaa00}
.temperature-44{fill: #FFa000}
.temperature-45{fill: #FF9600}
.temperature-46{fill: #FF8c00}
.temperature-47{fill: #FF8200}
.temperature-48{fill: #FF7800}
.temperature-49{fill: #FF6e00}
.temperature-50{fill: #FF6400}
.temperature-51{fill: #FF5a00}
.temperature-52{fill: #FF5000}
.temperature-53{fill: #FF4600}
.temperature-54{fill: #FF3c00}
.temperature-55{fill: #FF3200}
.temperature-56{fill: #FF2800}
.temperature-57{fill: #FF1e00}
.temperature-58{fill: #FF1400}
.temperature-59{fill: #FF0a00}
.temperature-60{fill: #FF0000}
